<br> <br> <br> <br> <br>

<div class="digestdate"> SAT, OCT. 28 </div>

<div class="digestarticle">
<i class="fa fa-file-text-o fa-lg digestadddigest"></i>

<h6 class="digestsection">SECTION | SUBSECTION </h6>


<a href="">
    <h4 class="nounderline">Article Title </h4>
</a> <br>
<h6> <i> byline </i> date </h6>
<h6><i class="fa fa-globe"> geo_facet </i> </h6>
    <br>
<p>Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
    
<button type="button" class="btn btn-outline-secondary readmore">+ read more</button>
</div>



<div class="digestarticle">
<i class="fa fa-file-text-o fa-lg digestadddigest"></i>

<h6 class="digestsection">BUSINESS DAY |  ECONOMY</h6>


<a href="">
    <h4 class="nounderline">New Round of Fiscal Battles in Congress Clouds the Economy </h4>
</a> <br>
<h6> <i> By JONATHAN WEISMA </i> &nbsp; 2014-12-03T00:00:00-5:00 </h6>
<h6><i class="fa fa-globe"> North Carolina </i> </h6>
    <br>
<p>Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
    
<button type="button" class="btn btn-outline-secondary readmore">+ read more</button>
</div>

{{outlet}}
