<!--REPLACE WITH SECTION NAME-->
<br> <br>
<div class="homesection"> WORLD </div>

<!--REPLACE WITH SUBSECTION NAME-->
<div class="homesubsection"> Africa </div>

<div class="homecard card-deck">

    <div class="card">
        <div class="card-block">
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">dec_facet</h6>

           
            <a href="">
                <h4 class="card-title c nounderline">Article Title </h4>
            </a>
            <h6 class="card-subtitle mb-2">published_date </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>
        
            <i class="fa fa-file-text-o fa-lg adddigest"></i>
    </div>

    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    

</div>

<div class="homesection"> - </div>
<div class="homesubsection"> Asia </div>

<div class="homecard card-deck">

    <div class="card">
        <div class="card-block">
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">dec_facet</h6>

           
            <a href="">
                <h4 class="card-title c nounderline">Article Title </h4>
            </a>
            <h6 class="card-subtitle mb-2">published_date </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>
        
            <i class="fa fa-file-text-o fa-lg adddigest"></i>
    </div>

    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">United States Economy</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>
            <br>
            <p class="card-text">Abstract: As another round of fiscal brinkmanship looms with Republican control of Congress, the impact on tax policy, government programs and the overall economy could be severe.</p>
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    

</div>
{{outlet}}
