<br>
<div class="mapcard card-deck">

    <div class="card">
        <div class="card-block">
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">dec_geo</h6>

           
            <a href="">
                <h4 class="card-title c nounderline">Article Title </h4>
            </a>
            <h6 class="card-subtitle mb-2">published_date </h6>
           
        </div>
        
            <i class="fa fa-file-text-o fa-lg adddigest"></i>
    </div>

    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">New York</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>

            
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
  
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">New York</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>

            
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">New York</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>

            
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
    
    <div class="card">
        <div class="card-block">
            
             <i class="fa fa-heart-o heartright fa-lg"></i>
            <h6 class="card-subtitle mb-2">New York</h6>

           
            <a href="">
                <h4 class="card-title c">New Round of Fiscal Battles </h4>
            </a>
            <h6 class="card-subtitle mb-2">2014-12-03T00:00:00-5:00 </h6>

            
        </div>

            <i class="fa fa-file-text-o fa-lg adddigest"></i>

    </div>
    
</div>

<img src="/assets/map_placeholder.png" class="mapbackground">

{{outlet}}

<!--AIzaSyAbOEKI1m80hy8OkrJEuSxrRVUGAGnU0ag-->